<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

<h1>Generador de perfiles aleatorio</h1>

<form action="/girl" method="get">
    <label for="id">Id de la chica</label>
    <input type="text" name="id" id="id" required>
    <input type="submit" value="submit">

</form>
<br>
<br>

<form action="gitl/random">
    <input type="submit" value="chica aleatoria">
</form>
    
 
    
</body>
</html> -->