<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/guardar" method="post">
        Nombre: <input type="name">
        <br/>
        Apellido: <input type="name">
        <br/>
        Nota1: <input type="nota1">
        <br/>
        Nota2: <input type="nota2">
        <br/>
        Nota3: <input type="nota3">
        <br/>
        <button tabindex="submit">Guardar</button>
    </form>
    
</body>
</html>