<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>

</head>
<body>

    <h1>Creacion de un nuevo meme</h1>
    <form class="form" method="post" action="/memes">
        <label for="description">Descripcion</label>
        <input type="text" name="description" placeholder="description">

        <label for="url">Url</label>
        <input id="url" name="url" placeholder="Url de la foto">

        <label for="category">Categoria</label>
        <select name="category" id="category">
            <option value="informatica">Informatica</option>
            <option value="politica">Politica</option>
            <option value="humor_negro">Humor negro</option>
            <option value="otro">Otra</option>
        </select>

        <label for="author">Autor</label>
        <input id="author" name="author" placeholder="Nombre del creador">

        <button>Crear</button>
    </form>
    
</body>
</html>